In [1]:
import pandas as pd
import numpy as np

In [2]:
fname = "../auxdata/spawning-predictions.csv"

In [3]:
data = pd.read_csv(fname)

In [6]:
data.drop(["Unnamed: 0"], axis=1, inplace=True)
data

                lon        lat  year  month  predicted              Species
0        -59.810692  46.145954  1980      1   0.408658         Atlantic Cod
1        -59.752682  46.090115  1980      1   0.315784         Atlantic Cod
2        -59.701324  46.038551  1980      1   0.288236         Atlantic Cod
3        -59.637531  45.975704  1980      1   0.697814         Atlantic Cod
4        -59.563690  45.901623  1980      1   0.868063         Atlantic Cod
...             ...        ...   ...    ...        ...                  ...
20262665 -63.473118  45.379036  1989     12   0.001063  American Butterfish
20262666 -63.455299  45.303295  1989     12   0.001064  American Butterfish
20262667 -63.435299  45.317059  1989     12   0.001065  American Butterfish
20262668 -63.422035  45.334167  1989     12   0.001063  American Butterfish
20262669 -63.426163  45.370239  1989     12   0.001063  American Butterfish

[20262670 rows x 6 columns]

In [13]:
cod_data = data[data['Species'] == "Atlantic Cod"]
cod_data = cod_data[cod_data['month'] < 6]
cod_data.describe()

                lon           lat          year         month     predicted
count  1.664881e+06  1.664881e+06  1.664881e+06  1.664881e+06  1.664881e+06
mean  -6.903780e+01  4.191335e+01  1.984518e+03  2.946325e+00  1.106569e+00
std    2.744007e+00  1.540453e+00  2.896641e+00  1.418823e+00  2.409474e+00
min   -7.568433e+01  3.622993e+01  1.980000e+03  1.000000e+00  2.220446e-16
25%   -7.073076e+01  4.110479e+01  1.982000e+03  2.000000e+00  3.675674e-02
50%   -6.998330e+01  4.154086e+01  1.985000e+03  3.000000e+00  4.829102e-01
75%   -6.762094e+01  4.286780e+01  1.987000e+03  4.000000e+00  1.221704e+00
max   -5.780016e+01  4.614595e+01  1.989000e+03  5.000000e+00  5.624348e+01

In [35]:
cod_data['predicted'].sum()

1842305.7286936485

In [59]:
species_ym_sums = {}
for fish in ['Atlantic Cod', 'Haddock', "Yellowtail Flounder", 'Atlantic Mackerel', 'American Butterfish']:
    print(fish)
    year_mo_sums = {}
    for y in range(1980, 1990):
        print(y)
        for m in range(1, 12):
            mo = str(m).zfill(2)
            key = str(y)+mo
            df = data[data['Species'] == fish]
            year_mo_sums[key] = df[(df['year'] == y) & (df['month'] == m)]['predicted'].sum()
    species_ym_sums[fish] = year_mo_sums
    
species_ym_sums

Atlantic Cod
1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
Haddock
1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
Yellowtail Flounder
1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
Atlantic Mackerel
1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
American Butterfish
1980
1981
1982
1983
1984
1985
1986
1987
1988
1989

{'Atlantic Cod': {'198001': 24340.739565313233,
  '198002': 27485.883152685532,
  '198003': 20287.208761047525,
  '198004': 44823.83344670456,
  '198005': 18119.157029396792,
  '198006': 3205.605685438033,
  '198007': 1356.2481552180454,
  '198008': 723.881099752112,
  '198009': 464.01911279436337,
  '198010': 1176.578809703576,
  '198011': 5301.545671739485,
  '198101': 28751.715298990333,
  '198102': 17365.2674936032,
  '198103': 37763.55583943308,
  '198104': 41617.551793179926,
  '198105': 16164.551035489627,
  '198106': 2825.322833586735,
  '198107': 1153.9643708394842,
  '198108': 750.6020750311636,
  '198109': 546.0365571417077,
  '198110': 1148.8498721568908,
  '198111': 4508.469214673471,
  '198201': 38106.1428610528,
  '198202': 49005.30399212977,
  '198203': 48703.15158115006,
  '198204': 45538.06491790656,
  '198205': 22832.309953724696,
  '198206': 7320.8164207480295,
  '198207': 2349.0799473500815,
  '198208': 357.03495788837705,
  '198209': 418.02438693882027,
  '198210': 576.8168018656077,
  '198211': 1573.832043772804,
  '198301': 24146.682031641885,
  '198302': 38364.04158295848,
  '198303': 50523.97192909362,
  '198304': 41405.74282412371,
  '198305': 19428.152066979554,
  '198306': 14163.288895930436,
  '198307': 3132.5526323267395,
  '198308': 761.8993907336164,
  '198309': 327.60646225461653,
  '198310': 385.95999214425416,
  '198311': 2556.933820367155,
  '198401': 27865.24084341135,
  '198402': 46388.61274307502,
  '198403': 38444.92346149318,
  '198404': 37961.264174712844,
  '198405': 33394.83272712418,
  '198406': 13666.366881693273,
  '198407': 3772.629321029166,
  '198408': 1172.2384117063598,
  '198409': 239.5040597571592,
  '198410': 602.9185807276125,
  '198411': 1821.9740576605234,
  '198501': 19908.550371050846,
  '198502': 44261.38982397819,
  '198503': 44197.64806990786,
  '198504': 49460.526826678746,
  '198505': 23550.983867640272,
  '198506': 7759.122518735942,
  '198507': 3571.671476596637,
  '198508': 371.0890805451828,
  '198509': 307.53072833996066,
  '198510': 386.52296335180733,
  '198511': 2822.9444389739724,
  '198601': 41114.70044019081,
  '198602': 45537.54271584826,
  '198603': 37455.29015164228,
  '198604': 35884.30955570492,
  '198605': 25474.842270676643,
  '198606': 5708.277139002186,
  '198607': 1928.5877253976591,
  '198608': 234.60999690044906,
  '198609': 338.9689414995601,
  '198610': 626.8131545022189,
  '198611': 3254.4907512981945,
  '198701': 34154.69236118354,
  '198702': 43031.5863883491,
  '198703': 39991.57298806229,
  '198704': 47341.49546862621,
  '198705': 38087.13369951531,
  '198706': 5902.814464592484,
  '198707': 1396.2810016335277,
  '198708': 295.26002520453335,
  '198709': 304.65148469450173,
  '198710': 625.7423795055636,
  '198711': 3270.080584465798,
  '198801': 37389.896933333366,
  '198802': 41492.383797959854,
  '198803': 37876.09266344467,
  '198804': 44731.539334932,
  '198805': 33284.242428373815,
  '198806': 8627.876440143971,
  '198807': 1580.6609740370957,
  '198808': 224.40709510188998,
  '198809': 378.18607648919266,
  '198810': 905.1855900113122,
  '198811': 5229.772115938928,
  '198901': 54868.43629540548,
  '198902': 59493.60324517841,
  '198903': 39861.722771236666,
  '198904': 51121.67620376139,
  '198905': 33905.968914544705,
  '198906': 4855.196467138428,
  '198907': 970.5728051458775,
  '198908': 252.3643138231796,
  '198909': 308.5657061175416,
  '198910': 710.5159882722857,
  '198911': 2380.499057494019},
 'Haddock': {'198001': 18111.660687777046,
  '198002': 13964.634390002668,
  '198003': 10117.89625069265,
  '198004': 17411.727881961393,
  '198005': 19411.253914357163,
  '198006': 4016.087673006079,
  '198007': 1732.596900768859,
  '198008': 869.5591637608494,
  '198009': 650.24931559496,
  '198010': 1496.696109092813,
  '198011': 3749.4024064260866,
  '198101': 21947.338997970106,
  '198102': 9479.579465959507,
  '198103': 17506.874894031796,
  '198104': 28979.059283862705,
  '198105': 17335.226044269126,
  '198106': 3205.6956484939265,
  '198107': 1119.365054626401,
  '198108': 894.7016924071753,
  '198109': 691.1566945692929,
  '198110': 1132.4130082876661,
  '198111': 2670.4447865397283,
  '198201': 19145.75146637896,
  '198202': 25620.508388880284,
  '198203': 17971.946173435346,
  '198204': 24013.97264553769,
  '198205': 20660.59358598063,
  '198206': 6337.693880280674,
  '198207': 1775.4309890266509,
  '198208': 411.322832392547,
  '198209': 535.4331695930239,
  '198210': 522.2802977006766,
  '198211': 1433.578777406087,
  '198301': 16882.04356602138,
  '198302': 27339.27803954689,
  '198303': 23099.298390771466,
  '198304': 23311.122672484165,
  '198305': 13649.304449131223,
  '198306': 7830.4519440688955,
  '198307': 807.760299983579,
  '198308': 510.94426461904567,
  '198309': 380.747727150041,
  '198310': 358.4077293245022,
  '198311': 2125.4684092543366,
  '198401': 22673.772366475718,
  '198402': 24832.854830609467,
  '198403': 24608.557932694606,
  '198404': 22070.19608901521,
  '198405': 17998.71709994458,
  '198406': 6146.667342434592,
  '198407': 1188.5592497327766,
  '198408': 480.33563805179614,
  '198409': 310.5856138855785,
  '198410': 562.400462620182,
  '198411': 1305.397295071392,
  '198501': 15423.242582611407,
  '198502': 17494.550518772183,
  '198503': 17511.62339542163,
  '198504': 22581.771894764795,
  '198505': 16868.465205066645,
  '198506': 7469.048939225834,
  '198507': 2266.1201444649114,
  '198508': 493.4509959004937,
  '198509': 485.3749803077537,
  '198510': 437.56459867551666,
  '198511': 2198.199950012456,
  '198601': 26411.288100181886,
  '198602': 18612.29310627045,
  '198603': 13919.688664999823,
  '198604': 21594.90106437481,
  '198605': 14865.964267506151,
  '198606': 6082.978564657186,
  '198607': 2031.9917505991216,
  '198608': 408.3306673596258,
  '198609': 452.09616947450763,
  '198610': 637.0254333321718,
  '198611': 2708.974945693825,
  '198701': 23892.678015745725,
  '198702': 18760.527873775853,
  '198703': 12239.80562727521,
  '198704': 21492.968195236685,
  '198705': 17411.357477151014,
  '198706': 5676.28800856814,
  '198707': 1438.7203712310156,
  '198708': 425.47734604443974,
  '198709': 433.664092675793,
  '198710': 610.0771693065494,
  '198711': 2662.2006315224294,
  '198801': 21099.428822097816,
  '198802': 15682.524353148556,
  '198803': 10534.805583631174,
  '198804': 21741.603241769535,
  '198805': 26047.915356905196,
  '198806': 10264.792220182724,
  '198807': 1685.2146703082717,
  '198808': 444.7985494522635,
  '198809': 587.9645134196504,
  '198810': 985.080082167855,
  '198811': 3714.9086680583555,
  '198901': 23680.6475801899,
  '198902': 22102.863176130133,
  '198903': 10297.402559715385,
  '198904': 17407.79021214865,
  '198905': 21142.228007551064,
  '198906': 4738.970052016634,
  '198907': 1044.6846001762221,
  '198908': 492.2405745016569,
  '198909': 525.9811521642577,
  '198910': 711.984732274909,
  '198911': 2052.9487370663055},
 'Yellowtail Flounder': {'198001': 9629.147457334922,
  '198002': 639.4972327985688,
  '198003': 560.2410915050034,
  '198004': 1024.8318764653816,
  '198005': 14510.34610196085,
  '198006': 34257.74475790437,
  '198007': 24946.250859803567,
  '198008': 21046.670616296793,
  '198009': 17651.64011892025,
  '198010': 20998.274712599472,
  '198011': 32961.0740377544,
  '198101': 3444.279528933809,
  '198102': 339.7217441505537,
  '198103': 1142.1761348238847,
  '198104': 3476.886591058952,
  '198105': 26921.630014818056,
  '198106': 34451.86150593351,
  '198107': 22490.841035550045,
  '198108': 21302.464770836857,
  '198109': 18763.878005806997,
  '198110': 29832.135546605256,
  '198111': 57004.39993304734,
  '198201': 12820.737381229712,
  '198202': 1596.1753927952009,
  '198203': 484.3119739180534,
  '198204': 2165.7565520578314,
  '198205': 16813.50722644828,
  '198206': 37695.01983016917,
  '198207': 36916.97301206684,
  '198208': 20842.049447261365,
  '198209': 19887.166924202655,
  '198210': 25453.08871618193,
  '198211': 37487.60538636724,
  '198301': 21118.12026644063,
  '198302': 3916.1810046240594,
  '198303': 1532.927631649036,
  '198304': 2158.3586171099705,
  '198305': 28764.83034985369,
  '198306': 37789.62898644162,
  '198307': 71696.98202778082,
  '198308': 29193.59114490129,
  '198309': 17490.41310084335,
  '198310': 18177.890835090147,
  '198311': 36373.87489053884,
  '198401': 11834.63807428195,
  '198402': 3682.042593607362,
  '198403': 2216.2125075970316,
  '198404': 2244.797301254219,
  '198405': 15484.268314507535,
  '198406': 117324.84164112576,
  '198407': 59478.666392732564,
  '198408': 33887.55474289674,
  '198409': 15359.648289077675,
  '198410': 24880.812687856935,
  '198411': 42336.15733434535,
  '198501': 25008.98614486929,
  '198502': 814.0255044565076,
  '198503': 503.17056235131497,
  '198504': 1119.8548887371146,
  '198505': 14564.553389380228,
  '198506': 28533.14435515885,
  '198507': 46096.365559017,
  '198508': 20382.5584473765,
  '198509': 14782.13688910129,
  '198510': 19104.131624124468,
  '198511': 34168.46538151335,
  '198601': 6825.333131171639,
  '198602': 684.3344012596003,
  '198603': 275.06550509511993,
  '198604': 2731.7311409085883,
  '198605': 12987.421271041927,
  '198606': 30589.13065564671,
  '198607': 29964.638124386074,
  '198608': 13347.108570389964,
  '198609': 16739.242644338265,
  '198610': 25818.501952058505,
  '198611': 39737.99292798298,
  '198701': 8367.681914432764,
  '198702': 677.1210187909202,
  '198703': 256.22045512635077,
  '198704': 775.6270016621041,
  '198705': 10436.799653459948,
  '198706': 66000.52989590079,
  '198707': 37127.60241936922,
  '198708': 18025.315369871227,
  '198709': 17616.32092291433,
  '198710': 31219.146159933312,
  '198711': 39404.821767240435,
  '198801': 4039.958976880808,
  '198802': 501.09870200708855,
  '198803': 207.91435034631576,
  '198804': 1032.1033837477412,
  '198805': 8344.81125213652,
  '198806': 32279.611700950525,
  '198807': 23987.180291292636,
  '198808': 13830.00283983669,
  '198809': 16217.77658014212,
  '198810': 18109.76325306119,
  '198811': 31364.878331542983,
  '198901': 3630.278913324089,
  '198902': 698.6854145849113,
  '198903': 254.35963624805868,
  '198904': 813.7008422334987,
  '198905': 7950.863895456035,
  '198906': 37821.31013110855,
  '198907': 20195.243203414884,
  '198908': 9536.35166333859,
  '198909': 10072.363750355848,
  '198910': 15205.57791816465,
  '198911': 25399.778447820114},
 'Atlantic Mackerel': {'198001': 114.08813236715494,
  '198002': 42.30419146129712,
  '198003': 63.75648419420074,
  '198004': 50.26158408043677,
  '198005': 5399.029425522393,
  '198006': 37284.585975433714,
  '198007': 29248.4317422788,
  '198008': 30053.565928657918,
  '198009': 25394.926042274703,
  '198010': 31962.4443618796,
  '198011': 40268.6408452421,
  '198101': 94.86757998908942,
  '198102': 23.133799677310087,
  '198103': 58.55312372465123,
  '198104': 368.96836236721765,
  '198105': 10082.548420422541,
  '198106': 33516.88171426145,
  '198107': 33925.75199515676,
  '198108': 32351.258407983325,
  '198109': 33840.63984164901,
  '198110': 44225.206024057916,
  '198111': 49583.63020880129,
  '198201': 70.22368636358024,
  '198202': 31.393993620769194,
  '198203': 37.03081997733812,
  '198204': 29.088831681106715,
  '198205': 138.6829528879389,
  '198206': 36637.108574742386,
  '198207': 38299.22537951486,
  '198208': 38897.436462150436,
  '198209': 34711.82730606034,
  '198210': 52381.891161877094,
  '198211': 66418.3286234435,
  '198301': 923.7992010404448,
  '198302': 18.03059555131189,
  '198303': 26.65351227742601,
  '198304': 29.664055294908987,
  '198305': 887.1933893971022,
  '198306': 39805.51932328487,
  '198307': 79355.78662179744,
  '198308': 29363.90170923056,
  '198309': 37731.88083664609,
  '198310': 39444.97669260585,
  '198311': 54150.22056141719,
  '198401': 97.91829917043722,
  '198402': 27.35398241604083,
  '198403': 30.418626984665302,
  '198404': 31.90451571279209,
  '198405': 205.39095012774982,
  '198406': 123806.18850144814,
  '198407': 73984.5024345204,
  '198408': 33497.575961578026,
  '198409': 35746.577421019065,
  '198410': 57342.73845343349,
  '198411': 46778.50480339579,
  '198501': 1366.5404729194875,
  '198502': 34.33571955781447,
  '198503': 42.38597043142133,
  '198504': 30.102685881083953,
  '198505': 677.2816286570155,
  '198506': 39879.042312845086,
  '198507': 33988.59242966953,
  '198508': 36386.91293880911,
  '198509': 31847.18187793877,
  '198510': 43910.18263320831,
  '198511': 53041.76052562738,
  '198601': 115.85424141543895,
  '198602': 32.225716702127045,
  '198603': 33.59563131759215,
  '198604': 22.09463514355008,
  '198605': 199.18395272603408,
  '198606': 40287.52035062252,
  '198607': 34726.666368112856,
  '198608': 30030.723506618386,
  '198609': 28428.52295595204,
  '198610': 46144.64976328714,
  '198611': 53229.91045576284,
  '198701': 32.04343221882739,
  '198702': 29.82355264454666,
  '198703': 32.00568156718403,
  '198704': 31.4960939715046,
  '198705': 351.7921895223856,
  '198706': 106242.62377539913,
  '198707': 55461.115025714396,
  '198708': 34174.074551071346,
  '198709': 31676.83524229611,
  '198710': 88867.24254636145,
  '198711': 53110.684891061974,
  '198801': 27.419751616066566,
  '198802': 37.73570604246948,
  '198803': 37.6775007150857,
  '198804': 25.40902698412211,
  '198805': 120.52839145837628,
  '198806': 26446.326570648554,
  '198807': 36886.15122299832,
  '198808': 26577.392357925764,
  '198809': 27178.710100447013,
  '198810': 41285.85525370006,
  '198811': 43372.250382319166,
  '198901': 31.366231129537756,
  '198902': 37.41712422199052,
  '198903': 37.501375300714365,
  '198904': 56.27186274985603,
  '198905': 795.2333012383818,
  '198906': 49400.147527548215,
  '198907': 28070.81066514707,
  '198908': 16707.038436687868,
  '198909': 20358.087910756378,
  '198910': 38310.02577680815,
  '198911': 53226.38484801378},
 'American Butterfish': {'198001': 74.75738652883501,
  '198002': 21.558508671080563,
  '198003': 25.199239394857567,
  '198004': 32.725077037734835,
  '198005': 2753.00469747788,
  '198006': 23647.947800867667,
  '198007': 38419.17036703538,
  '198008': 56362.893775137156,
  '198009': 59254.32141762019,
  '198010': 53169.31745377858,
  '198011': 10441.209996253565,
  '198101': 47.84751372155769,
  '198102': 26.08654554457005,
  '198103': 37.54570210384202,
  '198104': 132.55180945460373,
  '198105': 7812.619151071845,
  '198106': 34109.882977729154,
  '198107': 52778.643098950684,
  '198108': 61978.61756973415,
  '198109': 68263.40056977581,
  '198110': 20473.788591973036,
  '198111': 1792.332865356951,
  '198201': 49.87168414641783,
  '198202': 18.777721564004395,
  '198203': 18.899831429508417,
  '198204': 15.380015417443776,
  '198205': 99.45158490752655,
  '198206': 1867.231601344901,
  '198207': 18098.061455648163,
  '198208': 56644.03203749435,
  '198209': 44626.001672848644,
  '198210': 12639.349721648916,
  '198211': 2783.367340001233,
  '198301': 199.4126183136373,
  '198302': 27.14470068622524,
  '198303': 25.550110614378013,
  '198304': 19.738851509568526,
  '198305': 288.27102873177546,
  '198306': 1697.7121238516802,
  '198307': 24504.236978765934,
  '198308': 64411.47887787811,
  '198309': 53534.278657436706,
  '198310': 23384.41402706153,
  '198311': 3120.62619021298,
  '198401': 69.6153089010534,
  '198402': 20.301335669322917,
  '198403': 17.05039142960545,
  '198404': 16.450177026373826,
  '198405': 79.34509543084249,
  '198406': 1504.8378129281396,
  '198407': 20354.54791006944,
  '198408': 41904.52128156229,
  '198409': 69008.84208681258,
  '198410': 13949.553428918141,
  '198411': 7162.366087317883,
  '198501': 266.72634649023973,
  '198502': 32.50761966207265,
  '198503': 30.644833695417315,
  '198504': 25.854956242461977,
  '198505': 223.48332867,
  '198506': 2201.3521014760518,
  '198507': 14404.097740337686,
  '198508': 72871.31567978284,
  '198509': 73325.24484160903,
  '198510': 31208.43318186725,
  '198511': 3794.0374095296847,
  '198601': 64.08109624357795,
  '198602': 27.3500558394567,
  '198603': 25.255357105693825,
  '198604': 27.21931931898693,
  '198605': 213.70239487926094,
  '198606': 3289.5939642497688,
  '198607': 17039.366782349585,
  '198608': 65929.74571857293,
  '198609': 39504.79639135756,
  '198610': 21054.34844248135,
  '198611': 1926.5492283413473,
  '198701': 44.19838224953577,
  '198702': 22.139737345759222,
  '198703': 23.70210312965952,
  '198704': 19.594649149089584,
  '198705': 82.57340979026874,
  '198706': 2050.8458327617254,
  '198707': 22288.0010054457,
  '198708': 62918.18331138459,
  '198709': 47261.49890401243,
  '198710': 14528.86099158374,
  '198711': 1247.111245800724,
  '198801': 21.90174150197656,
  '198802': 21.89899469965521,
  '198803': 23.294401106221052,
  '198804': 21.135107195023735,
  '198805': 56.25074356489721,
  '198806': 1789.227289284369,
  '198807': 21598.46070684193,
  '198808': 112053.4736290958,
  '198809': 80300.75030807365,
  '198810': 28140.014640613575,
  '198811': 2037.1237708694237,
  '198901': 34.051038198737345,
  '198902': 27.904314249673625,
  '198903': 29.573728597128984,
  '198904': 29.429314998585532,
  '198905': 106.77777942926642,
  '198906': 2674.241606128483,
  '198907': 30163.631384235574,
  '198908': 68094.67106240314,
  '198909': 69335.91248370692,
  '198910': 24398.16687216668,
  '198911': 2601.2930619902513}}

In [67]:
for fish in ['Atlantic Cod', 'Haddock', "Yellowtail Flounder", 'Atlantic Mackerel', 'American Butterfish']:
    for y in range(1980, 1990):
        mo = "12"
        key = str(y)+mo
        df = data[data['Species'] == fish]
        species_ym_sums[fish][key] = df[(df['year'] == y) & (df['month'] == 12)]['predicted'].sum()

In [68]:
species_ym_sums['Haddock']

{'198001': 18111.660687777046,
 '198002': 13964.634390002668,
 '198003': 10117.89625069265,
 '198004': 17411.727881961393,
 '198005': 19411.253914357163,
 '198006': 4016.087673006079,
 '198007': 1732.596900768859,
 '198008': 869.5591637608494,
 '198009': 650.24931559496,
 '198010': 1496.696109092813,
 '198011': 3749.4024064260866,
 '198101': 21947.338997970106,
 '198102': 9479.579465959507,
 '198103': 17506.874894031796,
 '198104': 28979.059283862705,
 '198105': 17335.226044269126,
 '198106': 3205.6956484939265,
 '198107': 1119.365054626401,
 '198108': 894.7016924071753,
 '198109': 691.1566945692929,
 '198110': 1132.4130082876661,
 '198111': 2670.4447865397283,
 '198201': 19145.75146637896,
 '198202': 25620.508388880284,
 '198203': 17971.946173435346,
 '198204': 24013.97264553769,
 '198205': 20660.59358598063,
 '198206': 6337.693880280674,
 '198207': 1775.4309890266509,
 '198208': 411.322832392547,
 '198209': 535.4331695930239,
 '198210': 522.2802977006766,
 '198211': 1433.578777406087,
 '198301': 16882.04356602138,
 '198302': 27339.27803954689,
 '198303': 23099.298390771466,
 '198304': 23311.122672484165,
 '198305': 13649.304449131223,
 '198306': 7830.4519440688955,
 '198307': 807.760299983579,
 '198308': 510.94426461904567,
 '198309': 380.747727150041,
 '198310': 358.4077293245022,
 '198311': 2125.4684092543366,
 '198401': 22673.772366475718,
 '198402': 24832.854830609467,
 '198403': 24608.557932694606,
 '198404': 22070.19608901521,
 '198405': 17998.71709994458,
 '198406': 6146.667342434592,
 '198407': 1188.5592497327766,
 '198408': 480.33563805179614,
 '198409': 310.5856138855785,
 '198410': 562.400462620182,
 '198411': 1305.397295071392,
 '198501': 15423.242582611407,
 '198502': 17494.550518772183,
 '198503': 17511.62339542163,
 '198504': 22581.771894764795,
 '198505': 16868.465205066645,
 '198506': 7469.048939225834,
 '198507': 2266.1201444649114,
 '198508': 493.4509959004937,
 '198509': 485.3749803077537,
 '198510': 437.56459867551666,
 '198511': 2198.199950012456,
 '198601': 26411.288100181886,
 '198602': 18612.29310627045,
 '198603': 13919.688664999823,
 '198604': 21594.90106437481,
 '198605': 14865.964267506151,
 '198606': 6082.978564657186,
 '198607': 2031.9917505991216,
 '198608': 408.3306673596258,
 '198609': 452.09616947450763,
 '198610': 637.0254333321718,
 '198611': 2708.974945693825,
 '198701': 23892.678015745725,
 '198702': 18760.527873775853,
 '198703': 12239.80562727521,
 '198704': 21492.968195236685,
 '198705': 17411.357477151014,
 '198706': 5676.28800856814,
 '198707': 1438.7203712310156,
 '198708': 425.47734604443974,
 '198709': 433.664092675793,
 '198710': 610.0771693065494,
 '198711': 2662.2006315224294,
 '198801': 21099.428822097816,
 '198802': 15682.524353148556,
 '198803': 10534.805583631174,
 '198804': 21741.603241769535,
 '198805': 26047.915356905196,
 '198806': 10264.792220182724,
 '198807': 1685.2146703082717,
 '198808': 444.7985494522635,
 '198809': 587.9645134196504,
 '198810': 985.080082167855,
 '198811': 3714.9086680583555,
 '198901': 23680.6475801899,
 '198902': 22102.863176130133,
 '198903': 10297.402559715385,
 '198904': 17407.79021214865,
 '198905': 21142.228007551064,
 '198906': 4738.970052016634,
 '198907': 1044.6846001762221,
 '198908': 492.2405745016569,
 '198909': 525.9811521642577,
 '198910': 711.984732274909,
 '198911': 2052.9487370663055,
 '198012': 13398.794225171854,
 '198112': 12229.244448285219,
 '198212': 7299.93353985811,
 '198312': 8497.758762936375,
 '198412': 6455.043863535218,
 '198512': 9872.882119189577,
 '198612': 11241.088145699554,
 '198712': 10211.162789784752,
 '198812': 11794.103578318087,
 '198912': 13705.60657752375}

In [63]:
def std_pred(row):
    y = row['year']
    m = row['month']
    f = row['Species']
    s = species_ym_sums[f][str(y)+str(m).zfill(2)]
    return row['predicted']/s

In [51]:
cod_data['pred_std'] = cod_data.apply(std_pred, axis=1)

In [54]:
cod_data

               lon        lat  year  month  predicted       Species  pred_std
0       -59.810692  46.145954  1980      1   0.408658  Atlantic Cod  0.000017
1       -59.752682  46.090115  1980      1   0.315784  Atlantic Cod  0.000013
2       -59.701324  46.038551  1980      1   0.288236  Atlantic Cod  0.000012
3       -59.637531  45.975704  1980      1   0.697814  Atlantic Cod  0.000029
4       -59.563690  45.901623  1980      1   0.868063  Atlantic Cod  0.000036
...            ...        ...   ...    ...        ...           ...       ...
3816127 -63.473118  45.379036  1989      5  10.621639  Atlantic Cod  0.000313
3816128 -63.455299  45.303295  1989      5  10.418043  Atlantic Cod  0.000307
3816129 -63.435299  45.317059  1989      5  10.096411  Atlantic Cod  0.000298
3816130 -63.422035  45.334167  1989      5  10.071914  Atlantic Cod  0.000297
3816131 -63.426163  45.370239  1989      5   9.922526  Atlantic Cod  0.000293

[1664881 rows x 7 columns]

In [65]:
d = data.copy()
d.head()

         lon        lat  year  month  predicted       Species
0 -59.810692  46.145954  1980      1   0.408658  Atlantic Cod
1 -59.752682  46.090115  1980      1   0.315784  Atlantic Cod
2 -59.701324  46.038551  1980      1   0.288236  Atlantic Cod
3 -59.637531  45.975704  1980      1   0.697814  Atlantic Cod
4 -59.563690  45.901623  1980      1   0.868063  Atlantic Cod

In [69]:
d['pred_std'] = d.apply(std_pred, axis=1)

In [70]:
d

,lon,lat,year,month,predicted,Species,pred_std
0,-59.810692,46.145954,1980,1,0.408658,Atlantic Cod,0.000017
1,-59.752682,46.090115,1980,1,0.315784,Atlantic Cod,0.000013
2,-59.701324,46.038551,1980,1,0.288236,Atlantic Cod,0.000012
3,-59.637531,45.975704,1980,1,0.697814,Atlantic Cod,0.000029
4,-59.563690,45.901623,1980,1,0.868063,Atlantic Cod,0.000036
...,...,...,...,...,...,...,...
20262665,-63.473118,45.379036,1989,12,0.001063,American Butterfish,0.000003
20262666,-63.455299,45.303295,1989,12,0.001064,American Butterfish,0.000003
20262667,-63.435299,45.317059,1989,12,0.001065,American Butterfish,0.000003
20262668,-63.422035,45.334167,1989,12,0.001063,American Butterfish,0.000003
20262669,-63.426163,45.370239,1989,12,0.001063,American Butterfish,0.000003

In [71]:
d.to_csv("../auxdata/spawning-predictions-std.csv")