In [1]:
import pandas as pd
import numpy as np

In [2]:
fname = "../auxdata/spawning-predictions-new_even-space.csv"

In [3]:
data = pd.read_csv(fname)

In [4]:
data.drop(["Unnamed: 0"], axis=1, inplace=True)
data

,lon,lat,year,month,predicted,Species
0,1699879.750,420500.31250,1980,1,0.408658,Atlantic Cod
1,1709910.000,409690.18750,1980,1,0.288236,Atlantic Cod
2,1715777.875,403368.03125,1980,1,0.697814,Atlantic Cod
3,1722603.125,395906.81250,1980,1,0.868063,Atlantic Cod
4,1730039.125,387611.34375,1980,1,0.139202,Atlantic Cod
...,...,...,...,...,...,...
2494445,1408541.500,301747.84375,1989,12,0.001084,American Butterfish
2494446,1415430.125,296936.50000,1989,12,0.001070,American Butterfish
2494447,1418129.625,304606.18750,1989,12,0.001068,American Butterfish
2494448,1423580.000,297289.06250,1989,12,0.001065,American Butterfish
2494449,1427999.625,304030.81250,1989,12,0.001063,American Butterfish

In [5]:
cod_data = data[data['Species'] == "Atlantic Cod"]
cod_data = cod_data[cod_data['month'] < 6]
cod_data.describe()

                lon            lat           year          month     predicted
count  2.061200e+05  206120.000000  206120.000000  206120.000000  2.061200e+05
mean   1.131139e+06  -42971.560881    1984.508985       2.987255  8.268719e-01
std    3.489584e+05  223679.985264       2.878143       1.414851  1.643157e+00
min    4.106928e+05 -723840.000000    1980.000000       1.000000  2.220446e-16
25%    8.962601e+05 -208990.375000    1982.000000       2.000000  2.448535e-02
50%    1.117800e+06  -14953.193359    1984.000000       3.000000  2.303464e-01
75%    1.385980e+06  134209.421875    1987.000000       4.000000  1.103692e+00
max    1.892155e+06  420500.312500    1989.000000       5.000000  5.526183e+01

In [6]:
cod_data['predicted'].sum()

170434.84564961385

In [7]:
species_ym_sums = {}
for fish in ['Atlantic Cod', 'Haddock', "Yellowtail Flounder", 'Atlantic Mackerel', 'American Butterfish']:
    print(fish)
    year_mo_sums = {}
    for y in range(1980, 1990):
        print(y)
        for m in range(1, 12):
            mo = str(m).zfill(2)
            key = str(y)+mo
            df = data[data['Species'] == fish]
            year_mo_sums[key] = df[(df['year'] == y) & (df['month'] == m)]['predicted'].sum()
    species_ym_sums[fish] = year_mo_sums
    
species_ym_sums

Atlantic Cod
1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
Haddock
1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
Yellowtail Flounder
1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
Atlantic Mackerel
1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
American Butterfish
1980
1981
1982
1983
1984
1985
1986
1987
1988
1989

{'Atlantic Cod': {'198001': 2531.571561132604,
  '198002': 3112.7413504836386,
  '198003': 2874.847725677763,
  '198004': 3960.143440185208,
  '198005': 2165.359378720135,
  '198006': 696.2141592854177,
  '198007': 279.36397137160156,
  '198008': 123.95951490869729,
  '198009': 94.31539568650649,
  '198010': 235.80089730213223,
  '198011': 815.8029655177029,
  '198101': 3117.091748199855,
  '198102': 2707.290910491679,
  '198103': 3565.317564963545,
  '198104': 3797.752890130113,
  '198105': 2027.533560380489,
  '198106': 531.2523838904563,
  '198107': 180.80100642888442,
  '198108': 129.22917819976908,
  '198109': 97.05020752335165,
  '198110': 120.76948097846389,
  '198111': 461.3542678491989,
  '198201': 3027.054859264246,
  '198202': 4769.257975849951,
  '198203': 4691.779400916499,
  '198204': 4339.843035420406,
  '198205': 2995.054685184355,
  '198206': 1077.9090436422234,
  '198207': 412.4815275311238,
  '198208': 44.41216515450123,
  '198209': 51.65089757843087,
  '198210': 64.6007761077993,
  '198211': 232.51048016880299,
  '198301': 2248.147880295865,
  '198302': 3417.3903507522373,
  '198303': 3698.4602360799036,
  '198304': 3672.9885685086897,
  '198305': 2462.5149228933283,
  '198306': 1717.581883581097,
  '198307': 417.9110686176763,
  '198308': 105.04326401852629,
  '198309': 38.61784073160271,
  '198310': 42.16044770535093,
  '198311': 552.7909052692809,
  '198401': 3152.6451987281653,
  '198402': 3789.4834518036746,
  '198403': 4232.752908928576,
  '198404': 4009.5269107971208,
  '198405': 3418.689932416522,
  '198406': 1567.1455715639254,
  '198407': 546.7362357020047,
  '198408': 139.8282825953582,
  '198409': 28.03592294971465,
  '198410': 71.19230103177584,
  '198411': 403.9488509926864,
  '198501': 2126.1437129692613,
  '198502': 3314.4938235109203,
  '198503': 3461.436178178117,
  '198504': 3343.2012218657546,
  '198505': 2291.369307266472,
  '198506': 1315.7651248142797,
  '198507': 547.5226016816679,
  '198508': 44.53432988092435,
  '198509': 35.40736930678522,
  '198510': 40.3140840230102,
  '198511': 393.7486746145131,
  '198601': 3464.0989477288376,
  '198602': 3182.337497350611,
  '198603': 3570.04922600546,
  '198604': 2840.899342843959,
  '198605': 2414.215003287906,
  '198606': 911.3135344283592,
  '198607': 333.7431722378994,
  '198608': 31.1817020432774,
  '198609': 40.572989248044266,
  '198610': 79.20929561188785,
  '198611': 402.71212923736994,
  '198701': 3131.0799507948363,
  '198702': 3596.8948221713317,
  '198703': 3914.785421740678,
  '198704': 3984.253343996847,
  '198705': 3585.617037102867,
  '198706': 886.7690113744092,
  '198707': 233.33303317191294,
  '198708': 37.42015333912636,
  '198709': 34.909262321102204,
  '198710': 66.23565497072433,
  '198711': 327.12242227958745,
  '198801': 3650.02493430053,
  '198802': 4366.209719430606,
  '198803': 3992.287066806218,
  '198804': 3985.5497788352377,
  '198805': 3947.2700413126586,
  '198806': 1245.7045642451394,
  '198807': 232.39402581296247,
  '198808': 34.0902579806547,
  '198809': 41.30965393600061,
  '198810': 111.5041547343084,
  '198811': 484.8806611096931,
  '198901': 3815.4147848420603,
  '198902': 4201.788499706979,
  '198903': 3367.79340144465,
  '198904': 3746.688252971306,
  '198905': 3355.7038849451455,
  '198906': 745.7955197814076,
  '198907': 122.16543184100843,
  '198908': 30.614758946624907,
  '198909': 34.06553315513267,
  '198910': 67.87079894623236,
  '198911': 256.35904734564724},
 'Haddock': {'198001': 3440.160696963795,
  '198002': 2914.313371851125,
  '198003': 2166.1265568614813,
  '198004': 3429.40889079585,
  '198005': 3668.238568484908,
  '198006': 1106.8657705084752,
  '198007': 474.6895354111696,
  '198008': 206.4548399866336,
  '198009': 171.92019528092766,
  '198010': 385.253517033279,
  '198011': 917.9983492024156,
  '198101': 3668.820861091869,
  '198102': 1925.332768376289,
  '198103': 3422.0592415571596,
  '198104': 5212.630368322165,
  '198105': 3576.1903173456567,
  '198106': 912.0567512099523,
  '198107': 271.0201927158621,
  '198108': 194.44235762947798,
  '198109': 154.13998851695345,
  '198110': 189.98047087060337,
  '198111': 505.9497676355546,
  '198201': 3748.239087640448,
  '198202': 5250.1567936123,
  '198203': 4088.638165400812,
  '198204': 4661.782421308999,
  '198205': 3948.1754532008954,
  '198206': 1838.3360755955805,
  '198207': 600.1995646071314,
  '198208': 79.85238209563622,
  '198209': 110.58914097475775,
  '198210': 104.01151418288183,
  '198211': 320.42277746423133,
  '198301': 3318.4902083437546,
  '198302': 4470.684212301296,
  '198303': 3947.9805506411153,
  '198304': 3929.7834006690628,
  '198305': 3130.812695157806,
  '198306': 2082.5067024383607,
  '198307': 173.81040502901328,
  '198308': 100.01956943489498,
  '198309': 78.7845300948806,
  '198310': 71.73572683819822,
  '198311': 517.0635685224504,
  '198401': 3927.8133167922224,
  '198402': 4264.098123658447,
  '198403': 4856.384911203171,
  '198404': 4091.0904721390602,
  '198405': 3401.710621243953,
  '198406': 1483.0901486190323,
  '198407': 283.3855815945234,
  '198408': 99.17933998411448,
  '198409': 69.77835946939412,
  '198410': 115.70118465718147,
  '198411': 373.6409125609283,
  '198501': 2899.1032196585593,
  '198502': 2831.5801055205175,
  '198503': 2919.734899374129,
  '198504': 3143.2826354960953,
  '198505': 2470.5535158062125,
  '198506': 2109.620372174094,
  '198507': 620.4595213788067,
  '198508': 86.64488806605146,
  '198509': 83.22616208447883,
  '198510': 90.08715170368502,
  '198511': 535.5294949512813,
  '198601': 4038.662391517696,
  '198602': 3041.4184797095313,
  '198603': 2856.101992699602,
  '198604': 3078.928161692543,
  '198605': 2556.5433069561946,
  '198606': 1716.0641737150788,
  '198607': 552.7873027833718,
  '198608': 71.57194204261683,
  '198609': 86.27267251217967,
  '198610': 145.3004750569723,
  '198611': 606.565883084687,
  '198701': 4075.279227470097,
  '198702': 3500.5764406455155,
  '198703': 2701.9438619675457,
  '198704': 3974.8677205722242,
  '198705': 2743.5495208735815,
  '198706': 1659.7224887968046,
  '198707': 379.40652918000853,
  '198708': 87.31002826318863,
  '198709': 87.74593631840062,
  '198710': 126.92296249172571,
  '198711': 531.263184034744,
  '198801': 4224.276640831957,
  '198802': 3801.5874057534047,
  '198803': 2634.7305253001136,
  '198804': 3973.5296065304965,
  '198805': 4693.602119190597,
  '198806': 2421.4545640996353,
  '198807': 398.093581417871,
  '198808': 78.38230322848253,
  '198809': 103.35033780517372,
  '198810': 200.922169691933,
  '198811': 698.0132829066215,
  '198901': 3825.1331612279873,
  '198902': 3753.702973624654,
  '198903': 2270.1708179849948,
  '198904': 3140.179382576714,
  '198905': 3395.094407977628,
  '198906': 1207.9460189308106,
  '198907': 214.66426816809428,
  '198908': 87.71029533387147,
  '198909': 90.48834460471218,
  '198910': 128.3086422311448,
  '198911': 401.90454480560584},
 'Yellowtail Flounder': {'198001': 1699.4451697759278,
  '198002': 165.92469721968902,
  '198003': 135.43451338396127,
  '198004': 158.9797272157005,
  '198005': 1891.9886982961289,
  '198006': 6207.91884374013,
  '198007': 5101.888553354976,
  '198008': 4970.711541231622,
  '198009': 3877.6845010933152,
  '198010': 4549.9669652837165,
  '198011': 8739.85595049709,
  '198101': 494.1980234783947,
  '198102': 72.36739359315666,
  '198103': 249.64284325811036,
  '198104': 400.04675164398077,
  '198105': 3381.579027941154,
  '198106': 5526.75236226737,
  '198107': 3644.623815604054,
  '198108': 4710.611531832004,
  '198109': 4086.8501595440903,
  '198110': 5091.771794413502,
  '198111': 9182.141960018802,
  '198201': 2564.16475573719,
  '198202': 350.74010223630205,
  '198203': 125.52768014583644,
  '198204': 534.4480709638019,
  '198205': 3017.1748244636574,
  '198206': 4878.666187496276,
  '198207': 5916.768682691532,
  '198208': 4519.339113482598,
  '198209': 3439.158100606717,
  '198210': 4729.344395046319,
  '198211': 8085.097301349878,
  '198301': 2906.6489082328544,
  '198302': 655.99703322768,
  '198303': 352.00475680400933,
  '198304': 425.4211831030892,
  '198305': 4267.839143608756,
  '198306': 5888.688196218003,
  '198307': 9718.562185192655,
  '198308': 5692.531013807653,
  '198309': 2861.853316738723,
  '198310': 3382.501208455242,
  '198311': 10138.865442941307,
  '198401': 1941.467598696871,
  '198402': 717.4488549674123,
  '198403': 554.8733189818636,
  '198404': 451.6766982257755,
  '198405': 3472.812143802684,
  '198406': 17796.266803895152,
  '198407': 10058.314313608415,
  '198408': 5789.071894547605,
  '198409': 2603.61877150655,
  '198410': 4442.204218486065,
  '198411': 10693.428209300353,
  '198501': 2866.520958163525,
  '198502': 171.85515625991624,
  '198503': 122.55414013222051,
  '198504': 182.53172339612183,
  '198505': 1307.0454108280437,
  '198506': 3239.828074947899,
  '198507': 7995.881189819003,
  '198508': 4182.741739823007,
  '198509': 2510.4966713464705,
  '198510': 2895.6766535969496,
  '198511': 5919.563827242348,
  '198601': 1167.338823602817,
  '198602': 147.717044074007,
  '198603': 66.99560950962608,
  '198604': 559.6146834355325,
  '198605': 1145.7789530725786,
  '198606': 3697.7267491259136,
  '198607': 5045.871644720809,
  '198608': 2895.072756907821,
  '198609': 2898.122615983897,
  '198610': 4399.708233683943,
  '198611': 6012.061829058761,
  '198701': 1546.6212397163636,
  '198702': 160.25857426993787,
  '198703': 56.97144752156378,
  '198704': 175.8050400558644,
  '198705': 1567.5320395181275,
  '198706': 6506.792050492979,
  '198707': 5751.383571142036,
  '198708': 3005.3196729768233,
  '198709': 2702.0833987597894,
  '198710': 4013.4249944169337,
  '198711': 5560.895479892292,
  '198801': 1043.0851534718918,
  '198802': 146.5469632399351,
  '198803': 46.86693605605957,
  '198804': 317.96011393212336,
  '198805': 1444.6493763505168,
  '198806': 4014.577514743797,
  '198807': 4121.582011498403,
  '198808': 3362.0399828309282,
  '198809': 2604.3756694208264,
  '198810': 3443.495652836862,
  '198811': 4690.181142920293,
  '198901': 727.3518755627374,
  '198902': 160.66023554856213,
  '198903': 61.85430981948634,
  '198904': 303.9629968346392,
  '198905': 1230.2338786753262,
  '198906': 5489.397611688004,
  '198907': 3129.311137454918,
  '198908': 1478.6372810581197,
  '198909': 1573.5130675887924,
  '198910': 2181.867769138229,
  '198911': 3815.434536631546},
 'Atlantic Mackerel': {'198001': 34.560990910977985,
  '198002': 8.469234275678073,
  '198003': 19.716457405011855,
  '198004': 7.276081441449561,
  '198005': 396.8842821634146,
  '198006': 5752.2204955549205,
  '198007': 4255.681847527359,
  '198008': 7207.570673062786,
  '198009': 5301.386154561713,
  '198010': 5385.633354194704,
  '198011': 6351.03512159769,
  '198101': 20.215234570116987,
  '198102': 3.865033533286306,
  '198103': 8.651899505364714,
  '198104': 14.465208164002266,
  '198105': 906.4411734873977,
  '198106': 3432.329693521665,
  '198107': 5570.720620065984,
  '198108': 6804.287558581922,
  '198109': 7249.731101394436,
  '198110': 8194.271052102087,
  '198111': 7308.496833574168,
  '198201': 21.666031928454384,
  '198202': 3.4001129537726578,
  '198203': 3.451945603758279,
  '198204': 4.435531625086799,
  '198205': 62.59851064874461,
  '198206': 3608.011391506446,
  '198207': 3335.918932549027,
  '198208': 8710.577610144055,
  '198209': 5066.275039634918,
  '198210': 7397.119496604913,
  '198211': 7755.56882033271,
  '198301': 343.25999917748044,
  '198302': 3.4274638750012745,
  '198303': 3.0702127623791977,
  '198304': 3.8299968136811082,
  '198305': 316.9031307020731,
  '198306': 4673.414096284274,
  '198307': 8859.418914150798,
  '198308': 4976.425234512546,
  '198309': 5288.69784172086,
  '198310': 6284.032365317485,
  '198311': 6899.622588571,
  '198401': 38.59951470392616,
  '198402': 3.8932865814493476,
  '198403': 5.616092761002134,
  '198404': 5.031393298765104,
  '198405': 125.25225670108301,
  '198406': 19623.809571291742,
  '198407': 8455.108011330121,
  '198408': 5257.041616891123,
  '198409': 4767.545812963728,
  '198410': 8269.518191911411,
  '198411': 6125.8059467066105,
  '198501': 610.2184639356768,
  '198502': 3.2845712022020486,
  '198503': 4.237244849098806,
  '198504': 3.7756867595600605,
  '198505': 389.2057790703636,
  '198506': 2927.2220522024763,
  '198507': 3151.432042057587,
  '198508': 8372.321481067056,
  '198509': 4245.387169892105,
  '198510': 5578.329712131723,
  '198511': 4430.303015509572,
  '198601': 38.22404638620431,
  '198602': 3.7999434634517684,
  '198603': 3.40017084079499,
  '198604': 4.57807816499517,
  '198605': 95.35582888178232,
  '198606': 2910.8296035010667,
  '198607': 3005.3212129685235,
  '198608': 5696.302901437752,
  '198609': 4393.834048603703,
  '198610': 6520.720951959109,
  '198611': 4578.135260861888,
  '198701': 11.975727900638084,
  '198702': 3.2477001047881995,
  '198703': 3.0442297151551685,
  '198704': 5.296976900206387,
  '198705': 212.69263733933963,
  '198706': 7981.776048899123,
  '198707': 4286.413323918714,
  '198708': 4546.7164621442,
  '198709': 3878.5424065150387,
  '198710': 7733.052423499283,
  '198711': 6335.204760994226,
  '198801': 3.924349331903271,
  '198802': 4.052168126194742,
  '198803': 4.0950285965221065,
  '198804': 3.9638637852123724,
  '198805': 71.37292898965784,
  '198806': 3810.5995230860867,
  '198807': 4198.9213727369815,
  '198808': 5166.653319087261,
  '198809': 3424.2692249645615,
  '198810': 6586.530993909953,
  '198811': 4675.014296181748,
  '198901': 6.42438423117956,
  '198902': 3.557073246322998,
  '198903': 3.698125339293944,
  '198904': 19.945741463159724,
  '198905': 504.7132383300477,
  '198906': 4734.6137764654695,
  '198907': 4807.934948278959,
  '198908': 2480.0691126288184,
  '198909': 3054.358204440319,
  '198910': 5446.533878081538,
  '198911': 6016.952525524015},
 'American Butterfish': {'198001': 22.0005314756743,
  '198002': 3.4052974111841445,
  '198003': 6.872769371588969,
  '198004': 4.134847837831883,
  '198005': 132.58805362383112,
  '198006': 782.5458065766761,
  '198007': 3526.3198153970297,
  '198008': 4827.77415798595,
  '198009': 6087.8869783545415,
  '198010': 3892.4279940776914,
  '198011': 612.5919158037995,
  '198101': 10.896260634027094,
  '198102': 2.6471851825397694,
  '198103': 4.852978599669222,
  '198104': 5.804990085898854,
  '198105': 257.33304687782146,
  '198106': 2164.6255464348415,
  '198107': 4491.833617939745,
  '198108': 5289.283137626977,
  '198109': 5366.156471913375,
  '198110': 2976.8331646028173,
  '198111': 208.6981937227976,
  '198201': 15.301765123290629,
  '198202': 2.2761093280599507,
  '198203': 1.7662569419942251,
  '198204': 2.1093281028899584,
  '198205': 26.844514431123024,
  '198206': 688.1405922645163,
  '198207': 2944.069370243561,
  '198208': 5138.332217995008,
  '198209': 4533.821457178369,
  '198210': 2696.466985893905,
  '198211': 379.7367105746239,
  '198301': 54.91720987064974,
  '198302': 6.15291168052695,
  '198303': 4.22740090534408,
  '198304': 3.4213165303791655,
  '198305': 36.72021899891015,
  '198306': 526.0229858396307,
  '198307': 3112.0983116097623,
  '198308': 5317.527911275557,
  '198309': 5090.424862214471,
  '198310': 2527.62455894552,
  '198311': 548.8664292574365,
  '198401': 20.79318701075711,
  '198402': 3.4000575404276154,
  '198403': 2.8255103656997287,
  '198404': 2.651452335720352,
  '198405': 25.816656465928048,
  '198406': 303.82190565290034,
  '198407': 4015.515319813871,
  '198408': 5480.6628345287,
  '198409': 7000.293378336539,
  '198410': 2487.2193085757312,
  '198411': 1320.4568354327607,
  '198501': 61.78771376515075,
  '198502': 2.944722209464163,
  '198503': 3.2761593587157587,
  '198504': 3.578557759405787,
  '198505': 48.624128220983295,
  '198506': 625.0075721638968,
  '198507': 3120.8708882186693,
  '198508': 6840.677789453375,
  '198509': 6620.68069823754,
  '198510': 4571.441944767742,
  '198511': 744.5213132120274,
  '198601': 17.863198060668992,
  '198602': 2.793609392728315,
  '198603': 2.2153091978133626,
  '198604': 5.459692625641487,
  '198605': 33.94378128667229,
  '198606': 1221.5615602767825,
  '198607': 3606.13676332633,
  '198608': 5638.502651061697,
  '198609': 5067.76553733619,
  '198610': 3452.656111782203,
  '198611': 396.1193862267833,
  '198701': 14.76763911300248,
  '198702': 2.5380274417792195,
  '198703': 1.8606245496684641,
  '198704': 3.4167549523891037,
  '198705': 27.38164000698254,
  '198706': 411.7471870512966,
  '198707': 3270.777069688469,
  '198708': 5482.98684615232,
  '198709': 5137.9692521544475,
  '198710': 3137.7944577875396,
  '198711': 191.5863203090526,
  '198801': 4.731785244774405,
  '198802': 2.007946046005893,
  '198803': 2.1423921117863527,
  '198804': 3.860410992619521,
  '198805': 15.259704301256477,
  '198806': 489.4203756950193,
  '198807': 2597.605715307785,
  '198808': 7290.998967536296,
  '198809': 7674.43923891713,
  '198810': 3362.8693592816026,
  '198811': 189.38408276959126,
  '198901': 7.440256371846956,
  '198902': 2.806576627583662,
  '198903': 2.4608716289755277,
  '198904': 5.736027627662549,
  '198905': 43.599549812557655,
  '198906': 1032.0495948723585,
  '198907': 4515.53574518146,
  '198908': 6592.691133625519,
  '198909': 7044.001002157644,
  '198910': 3865.7251921724815,
  '198911': 393.9290070562144}}

In [18]:
for fish in ['Atlantic Cod', 'Haddock', "Yellowtail Flounder", 'Atlantic Mackerel', 'American Butterfish']:
    for y in range(1980, 1990):
        mo = "12"
        key = str(y)+mo
        df = data[data['Species'] == fish]
        species_ym_sums[fish][key] = df[(df['year'] == y) & (df['month'] == 12)]['predicted'].sum()

In [8]:
species_ym_sums['Haddock']

{'198001': 3440.160696963795,
 '198002': 2914.313371851125,
 '198003': 2166.1265568614813,
 '198004': 3429.40889079585,
 '198005': 3668.238568484908,
 '198006': 1106.8657705084752,
 '198007': 474.6895354111696,
 '198008': 206.4548399866336,
 '198009': 171.92019528092766,
 '198010': 385.253517033279,
 '198011': 917.9983492024156,
 '198101': 3668.820861091869,
 '198102': 1925.332768376289,
 '198103': 3422.0592415571596,
 '198104': 5212.630368322165,
 '198105': 3576.1903173456567,
 '198106': 912.0567512099523,
 '198107': 271.0201927158621,
 '198108': 194.44235762947798,
 '198109': 154.13998851695345,
 '198110': 189.98047087060337,
 '198111': 505.9497676355546,
 '198201': 3748.239087640448,
 '198202': 5250.1567936123,
 '198203': 4088.638165400812,
 '198204': 4661.782421308999,
 '198205': 3948.1754532008954,
 '198206': 1838.3360755955805,
 '198207': 600.1995646071314,
 '198208': 79.85238209563622,
 '198209': 110.58914097475775,
 '198210': 104.01151418288183,
 '198211': 320.42277746423133,
 '198301': 3318.4902083437546,
 '198302': 4470.684212301296,
 '198303': 3947.9805506411153,
 '198304': 3929.7834006690628,
 '198305': 3130.812695157806,
 '198306': 2082.5067024383607,
 '198307': 173.81040502901328,
 '198308': 100.01956943489498,
 '198309': 78.7845300948806,
 '198310': 71.73572683819822,
 '198311': 517.0635685224504,
 '198401': 3927.8133167922224,
 '198402': 4264.098123658447,
 '198403': 4856.384911203171,
 '198404': 4091.0904721390602,
 '198405': 3401.710621243953,
 '198406': 1483.0901486190323,
 '198407': 283.3855815945234,
 '198408': 99.17933998411448,
 '198409': 69.77835946939412,
 '198410': 115.70118465718147,
 '198411': 373.6409125609283,
 '198501': 2899.1032196585593,
 '198502': 2831.5801055205175,
 '198503': 2919.734899374129,
 '198504': 3143.2826354960953,
 '198505': 2470.5535158062125,
 '198506': 2109.620372174094,
 '198507': 620.4595213788067,
 '198508': 86.64488806605146,
 '198509': 83.22616208447883,
 '198510': 90.08715170368502,
 '198511': 535.5294949512813,
 '198601': 4038.662391517696,
 '198602': 3041.4184797095313,
 '198603': 2856.101992699602,
 '198604': 3078.928161692543,
 '198605': 2556.5433069561946,
 '198606': 1716.0641737150788,
 '198607': 552.7873027833718,
 '198608': 71.57194204261683,
 '198609': 86.27267251217967,
 '198610': 145.3004750569723,
 '198611': 606.565883084687,
 '198701': 4075.279227470097,
 '198702': 3500.5764406455155,
 '198703': 2701.9438619675457,
 '198704': 3974.8677205722242,
 '198705': 2743.5495208735815,
 '198706': 1659.7224887968046,
 '198707': 379.40652918000853,
 '198708': 87.31002826318863,
 '198709': 87.74593631840062,
 '198710': 126.92296249172571,
 '198711': 531.263184034744,
 '198801': 4224.276640831957,
 '198802': 3801.5874057534047,
 '198803': 2634.7305253001136,
 '198804': 3973.5296065304965,
 '198805': 4693.602119190597,
 '198806': 2421.4545640996353,
 '198807': 398.093581417871,
 '198808': 78.38230322848253,
 '198809': 103.35033780517372,
 '198810': 200.922169691933,
 '198811': 698.0132829066215,
 '198901': 3825.1331612279873,
 '198902': 3753.702973624654,
 '198903': 2270.1708179849948,
 '198904': 3140.179382576714,
 '198905': 3395.094407977628,
 '198906': 1207.9460189308106,
 '198907': 214.66426816809428,
 '198908': 87.71029533387147,
 '198909': 90.48834460471218,
 '198910': 128.3086422311448,
 '198911': 401.90454480560584}

In [19]:
def std_pred(row):
    y = row['year']
    m = row['month']
    f = row['Species']
    s = species_ym_sums[f][str(y)+str(m).zfill(2)]
    return row['predicted']/s

In [10]:
cod_data['pred_std'] = cod_data.apply(std_pred, axis=1)

In [11]:
cod_data

,lon,lat,year,month,predicted,Species,pred_std
0,1699879.750,420500.31250,1980,1,0.408658,Atlantic Cod,0.000161
1,1709910.000,409690.18750,1980,1,0.288236,Atlantic Cod,0.000114
2,1715777.875,403368.03125,1980,1,0.697814,Atlantic Cod,0.000276
3,1722603.125,395906.81250,1980,1,0.868063,Atlantic Cod,0.000343
4,1730039.125,387611.34375,1980,1,0.139202,Atlantic Cod,0.000055
...,...,...,...,...,...,...,...
470152,1408541.500,301747.84375,1989,5,8.816887,Atlantic Cod,0.002627
470153,1415430.125,296936.50000,1989,5,12.678816,Atlantic Cod,0.003778
470154,1418129.625,304606.18750,1989,5,12.879722,Atlantic Cod,0.003838
470155,1423580.000,297289.06250,1989,5,11.571695,Atlantic Cod,0.003448
470156,1427999.625,304030.81250,1989,5,9.922526,Atlantic Cod,0.002957

In [54]:
cod_data

               lon        lat  year  month  predicted       Species  pred_std
0       -59.810692  46.145954  1980      1   0.408658  Atlantic Cod  0.000017
1       -59.752682  46.090115  1980      1   0.315784  Atlantic Cod  0.000013
2       -59.701324  46.038551  1980      1   0.288236  Atlantic Cod  0.000012
3       -59.637531  45.975704  1980      1   0.697814  Atlantic Cod  0.000029
4       -59.563690  45.901623  1980      1   0.868063  Atlantic Cod  0.000036
...            ...        ...   ...    ...        ...           ...       ...
3816127 -63.473118  45.379036  1989      5  10.621639  Atlantic Cod  0.000313
3816128 -63.455299  45.303295  1989      5  10.418043  Atlantic Cod  0.000307
3816129 -63.435299  45.317059  1989      5  10.096411  Atlantic Cod  0.000298
3816130 -63.422035  45.334167  1989      5  10.071914  Atlantic Cod  0.000297
3816131 -63.426163  45.370239  1989      5   9.922526  Atlantic Cod  0.000293

[1664881 rows x 7 columns]

In [14]:
d = data.copy()
d.head()

           lon           lat  year  month  predicted       Species
0  1699879.750  420500.31250  1980      1   0.408658  Atlantic Cod
1  1709910.000  409690.18750  1980      1   0.288236  Atlantic Cod
2  1715777.875  403368.03125  1980      1   0.697814  Atlantic Cod
3  1722603.125  395906.81250  1980      1   0.868063  Atlantic Cod
4  1730039.125  387611.34375  1980      1   0.139202  Atlantic Cod

In [20]:
d['pred_std'] = d.apply(std_pred, axis=1)

In [21]:
d

,lon,lat,year,month,predicted,Species,pred_std
0,1699879.750,420500.31250,1980,1,0.408658,Atlantic Cod,0.000161
1,1709910.000,409690.18750,1980,1,0.288236,Atlantic Cod,0.000114
2,1715777.875,403368.03125,1980,1,0.697814,Atlantic Cod,0.000276
3,1722603.125,395906.81250,1980,1,0.868063,Atlantic Cod,0.000343
4,1730039.125,387611.34375,1980,1,0.139202,Atlantic Cod,0.000055
...,...,...,...,...,...,...,...
2494445,1408541.500,301747.84375,1989,12,0.001084,American Butterfish,0.000019
2494446,1415430.125,296936.50000,1989,12,0.001070,American Butterfish,0.000019
2494447,1418129.625,304606.18750,1989,12,0.001068,American Butterfish,0.000019
2494448,1423580.000,297289.06250,1989,12,0.001065,American Butterfish,0.000019
2494449,1427999.625,304030.81250,1989,12,0.001063,American Butterfish,0.000019

In [23]:
d.to_csv("../auxdata/spawning-predictions-std.csv")

In [22]:
pd.read_csv("../auxdata/spawning-predictions-std.csv")

,Unnamed: 0,lon,lat,year,month,predicted,Species,pred_std
0,0,-59.810692,46.145954,1980,1,0.408658,Atlantic Cod,0.000017
1,1,-59.752682,46.090115,1980,1,0.315784,Atlantic Cod,0.000013
2,2,-59.701324,46.038551,1980,1,0.288236,Atlantic Cod,0.000012
3,3,-59.637531,45.975704,1980,1,0.697814,Atlantic Cod,0.000029
4,4,-59.563690,45.901623,1980,1,0.868063,Atlantic Cod,0.000036
...,...,...,...,...,...,...,...,...
20262665,20262665,-63.473118,45.379036,1989,12,0.001063,American Butterfish,0.000003
20262666,20262666,-63.455299,45.303295,1989,12,0.001064,American Butterfish,0.000003
20262667,20262667,-63.435299,45.317059,1989,12,0.001065,American Butterfish,0.000003
20262668,20262668,-63.422035,45.334167,1989,12,0.001063,American Butterfish,0.000003
20262669,20262669,-63.426163,45.370239,1989,12,0.001063,American Butterfish,0.000003